<html>
  <head>
    <title><%= category.name %></title>
  </head>
  <body>
    <h1>Inventory Application</h1>
    <div>
      <h2>Category: <%- category.name %></h2>
      <a href="/update/category/<%= category.id %>">Update category name</a>
    </div>
    <ul>
      <% items.forEach((item) => { %>
      <li>
        <%- include('item', { item: item }) %>
      </li>
      <% }); %>
    </ul>
    <a href="/create/item/<%= category.id %>">Add item</a>
    <a href="/">Go back</a>
  </body>
</html>
