<html>
  <head>
    <title><%= categoryName %></title>
  </head>
  <body>
    <h1>Inventory Application</h1>
    <h2>Category: <%- categoryName %></h2>
    <ul>
      <% items.forEach((item) => { %>
      <li><%= include('item', { item: item }) %></li>
      <% }); %>
    </ul>
    <a href="/create/item/<%= categoryName %>/<%= categoryID %>">Add item</a>
    <a href="/">Go back</a>
  </body>
</html>
