<html>
  <head>
    <title><%= categoryName %></title>
  </head>
  <body>
    <h1>Inventory Application</h1>
    <div>
      <h2>Category: <%- categoryName %></h2>
      <a href="/update/category/<%= categoryID %>">Update category name</a>
    </div>
    <ul>
      <% items.forEach((item) => { %>
      <li>
        <p>Item ID: <%= item.id %></p>
        <%- include('item', { item: item }) %>
      </li>
      <% }); %>
    </ul>
    <a href="/create/item/<%= categoryName %>/<%= categoryID %>">Add item</a>
    <a href="/">Go back</a>
  </body>
</html>
